<!doctype html>
<html lang="en-US">
<head>

  <title>Vuejs Template</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

<div id="app">


<button v-show="cars.length > 0" v-on:click="ClearList">Clear List</button>

<button v-show="cars.length == 0" v-on:click="GetAllCars">Get Cars</button>
<br>
<button v-show="cars.length > 0 && isShowing == false" v-on:click="Show">Show</button>
<button v-show="cars.length > 0 && isShowing == true" v-on:click="Show">Hide</button>




<ul v-if="cars.length > 0 && isShowing == true">
  <li v-for="car in cars" v-bind:key="car.id">
    Id: {{ car.id }}
    Vendor: {{ car.vendor }}
    Model: {{ car.model }}
    Price: {{ car.price }}
  </li>
</ul>
<p v-else>There are no Cars</p>





</div>

  <script src="js/index.js"></script>
  <script>
    app.mount('#app')
  </script>
    
</body>
</html>